@font-face {
    font-family: titleText;
    src: url(title.ttf);
}
@media (orientation: portrait) {
    h1 {
    font-family: titleText;
    color: white;
    font-size: small;
}
h2 {
    font-weight: bold;
    color: blue;
}
p {
    font-size: 40%;
    color: white;
    align-content: left;
}
body {
    background-image: url(wild.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
body {
    font-family: 'Trebuchet MS', 'Sans-Serif';
    text-align: left;
    color: black;
    font-weight: bold;
    align-content: center;
}

}
@media (orientation: landscape) {
    
.Dropdown {
    margin-top:-31px;
}
    h1 {
    font-family: titleText;
    color: white;
    font-size: normal;
}
h2 {
    font-weight: bold;
    color: blue;
}
p {
    font-size: 80%;
    color: white;
    align-content: left;
}
body {
    background-image: url(wild.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
body {
    font-family: 'Trebuchet MS', 'Sans-Serif';
    text-align: left;
    color: black;
    font-weight: bold;
    align-content: center;
}
#render {
    height: 55%;
}
}
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}