@font-face {
    font-family: titleText;
    src: url(title.ttf);
}
@media (orientation: portrait) {
    h1 {
    font-family: titleText;
    color: white;
    font-size: small;
}
h2 {
    font-weight: bold;
    color: blue;
}
p {
    font-size: 40%;
    color: white;
    align-content: left;
}
body {
    background-image: url(wild.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
body {
    font-family: 'Trebuchet MS', 'Sans-Serif';
    text-align: left;
    color: black;
    font-weight: bold;
    align-content: center;
}

}
@media (orientation: landscape) {
    h1 {
    font-family: titleText;
    color: white;
    font-size: normal;
}
h2 {
    font-weight: bold;
    color: blue;
}
p {
    font-size: 80%;
    color: white;
    align-content: left;
}
body {
    background-image: url(wild.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
body {
    font-family: 'Trebuchet MS', 'Sans-Serif';
    text-align: left;
    color: black;
    font-weight: bold;
    align-content: center;
}
#render {
    height: 80%;
}
}